# Database and ORM
psycopg2-binary>=2.9.9
sqlalchemy>=2.0.30
geoalchemy2>=0.14.2

# Environment and logging
python-dotenv>=1.0.1
structlog>=24.1.0
tqdm>=4.66.5
requests>=2.32.3
psutil==6.1.0
ijson==3.2.3

fiona
shapely